<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>职位列表</title>
	
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<script type="text/javascript" src="libs/jquery.min.js"></script>
	<script type="text/javascript" src="libs/bootstrap.min.js"></script>
	<script type="text/javascript" src="libs/mp.mansory.js"></script>
	<link rel="stylesheet" type="text/css" href="css/mansory-style.css">
</head>
<body>

	<div class="container">
		<h1>职位列表</h1>
		<div class="" id="my-gallery-container">
			<div class="item" data-order="1">
				<div>
				    <h6>Java开发工程师
				        <small>一天前</small>
				        <span style=" float:right;">8k-10k</span>
				    </h6>
				    <span class="label label-primary">主要标签</span>
				</div>
				<hr/>
				<h6>湖州趣码</h6>
				<h6><small>一个一天到晚加班的公司</small></h6>				
			</div>
			<div class="item h200" data-order="30">
				<p>item 1</p>
			</div>
			<div class="item h250" data-order="29">
				<p>item 2</p>
			</div>
			

		</div>


	</div>
	<script type="text/javascript">
		jQuery(document).ready(function ( $ ) {
			$("#my-gallery-container").mpmansory(
				{
					childrenClass: 'item', // default is a div
					columnClasses: 'padding', //add classes to items
					breakpoints:{
						lg: 3, 
						md: 4, 
						sm: 6,
						xs: 12
					},
					distributeBy: { order: false, height: false, attr: 'data-order', attrOrder: 'asc' }, //default distribute by order, options => order: true/false, height: true/false, attr => 'data-order', attrOrder=> 'asc'/'desc'
					onload: function (items) {
						//make somthing with items
					} 
				}
			);
		});
	</script>
</body>
</html>